html{
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
}

body{
    display:flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-between;
}

.taust{
    background-image: url("/assets/img/roosa5-02.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container a{
    /* font-size: 18px; */
    text-decoration: none;
    color: #000;
    font-family: 'Montserrat', sans-serif;
}

.header{

    justify-content: space-between;
    padding: 3rem;
    font-family:'Italiana', serif;
    font-size: 36px;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    }

.nav a{
    text-decoration: none;
    color:#000 ;

}    

.nav a:visited{
    color: #000;
}
.nav div{
    margin: 0 30px;
    position: relative;
    
    
}
.home{
    font-family:'Italiana', serif;
    font-size: 36px;
}
.link-backgournd::after{
    z-index: -1;
    position: absolute;
    content: '';
    left: 35px;
    height: 100%;
    width: 100%;
    background-color:rgba(242, 185, 185, 0.42);
    /* background-color: rgba(132, 46, 46, 0.26); */
    border-radius: 20px;
    
}
.portfolio::after{
    background-color:rgba(242, 185, 185, 0.42);
    left: 76px;
    
}

.link-backgournd:hover {
    filter: grayscale(0%) brightness(100%);
    transform: scale(1.01);
}
.container{
    max-width: 1200px;
    /* margin: auto; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: center;

}
.container div{
margin-bottom: 60px;
padding: 10px;

}

.item-title{
    display: block;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    margin-top: 22px;
    background:rgba(132, 46, 46, 0.26)
    /* background: rgba(196, 196, 196, 0.08); */
    font-weight: 900;
    

}


.item-link{
    font-size: 18px;
    display: block;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    margin-top: 22px;
    background: #EBDBDD;
    border-radius: 5px;
}

.item-link:hover{
    
    transform: scale(1.02);
    background: #E51F59;

}
.footer{
    justify-content: center;
    background: #FAFAFA;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    display: flex;
    padding:20px 0;
    width: 100%;
}

.alaleht{

    justify-content: start;
    flex-wrap: nowrap;
}

.lisa{
    margin-left: 60px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 22px; 
    margin-top: -22px;
   
       
}
.veeb{
    font-size: 16px;
    font-weight: 900;
    /* background: red; */
}

.veeb:hover{
    transform: scale(2.02);
    color: #E51F59;
    font-weight: 900;
    font-size: 17px;
    }

.kirjeldus{
    margin-top: 20px;
   margin-left: 30px;
   line-height: 2;
   
}


.item-img{
    margin: 0 1.2rem;
    height: 400px;
    width: 266px;
    object-fit: cover;
    object-position: center;
    filter: grayscale(100%) brightness(100%) ;
}

@media only screen and (max-width: 750px)
{
    .container, .header{
        flex-wrap: wrap;
    }
    .portfolio::after{
        left: 0;
        top: 0;
    }
}

